doctype html
html
  body
    div
      p Здравствуйте #{customer.firstName} #{customer.lastName},
      p Ваш заказ в интернет магазине экотоваров Careful Store отправлен.
      p Номер Вашего заказа: #{delivery._id}.
      p Статус заказа: отправлен.
      p Номер транспортной накладной: #{delivery.declarationNumber}.
      p Интернет магазин экотоваров Careful Store.
