doctype html
html
  head
    style.
      body {
        color: #000000;
      }
      .bold {
        font-weight: bold;
      }
      table {
        border-collapse: collapse;
      }

      .bordered-table, .bordered-th, .bordered-td {
        border: 1px solid black;
      }

      .text-align-right {
        text-align: right;
      }
  body
    div
      p Здравствуйте #{customer.firstName} #{customer.lastName},
      p Спасибо за ваш заказ в интернет магазине экотоваров Careful Store.
      p Номер Вашего заказа: #{delivery.id}.
      p Статус заказа: оплачен.
      table.bordered-table
        thead
          tr
            th.bordered-th Наименование
            th.bordered-th Количество
            th.bordered-th Стоимость
        tbody
          each product in invoice.products
            tr
              td.bordered-td #{product.name}
              td.bordered-td.text-align-right #{product.quantity}
              td.bordered-td.text-align-right #{product.price} грн.
          tr
            td 
            td.text-align-right Скидка
            td.text-align-right #{discountAmount} грн.
          tr
            td 
            td.text-align-right
              p.bold Итого
            td.text-align-right
              p.bold #{totalPrice} грн.
      p Способ доставки: #{delivery.method}
      p #{customer.firstName} #{customer.lastName} 
      p #{delivery.adress} 

      p Интернет магазин экотоваров Careful Store.
